@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap');

                                                                /* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    min-height: 20vh;
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(167, 162, 220, 0.8);;
    padding: 15px 3%;
    position: fixed;
    top: 0;
}

nav img{
    width: 170px;
    height: 100px;
}

.nav-type{
    flex: 1;
    text-align: center;
    position: relative;
    margin-right: 200px;
}

.nav-type img{
    display: none;
}

.nav-type ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
    position: relative;
}

.nav-type ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}
 
.nav-type ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-type ul li:hover::after{
    color:rgb(196, 196, 196);
    width:100%;
}

.menu{
    display: none;
}

                                                                /* content */


.content{
    font-family: "poppins", sans-serif;
}

.leftimage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftimage img{
    width: 30%;
    margin: 0 2% 2%;
    border-radius: 10px;
}

.leftcontainer{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.leftimage h2{
    font-size: 40px;
    background-color: rgba(174, 174, 236, 0.8);
    padding: 3px;
    text-align: center;
}

.leftimage p{
    margin-top: 0;
    background-color: rgba(218, 215, 249, 0.8);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rightimage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}

.rightimage img{
    width: 30%;
    margin: 0 2% 2%;
    border-radius: 10px;
}

.rightcontainer{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 2%;
}

.rightimage h2{
    font-size: 40px;
    background-color: rgba(174, 174, 236, 0.8);
    padding: 3px;
    text-align: center;
}

.rightimage p{
    margin-top: 0;
    background-color: rgba(218, 215, 249, 0.8);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leftimage-commitment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.leftimage-commitment img{
    width: 30%;
    margin: 0 2% 2%;
    border-radius: 10px;
}

.leftcontainer-commitment{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.leftimage-commitment h2{
    font-size: 40px;
    background-color: rgba(174, 174, 236, 0.8);
    padding: 3px;
    text-align: center;
}

.leftimage-commitment p{
    margin-top: 0;
    background-color: rgba(218, 215, 249, 0.8);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


                                                                /* footer */

 .footer{
    width: 100%;
    text-align: left;
    padding: 50px 10px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(167, 162, 220, 0.8);
}

.footer-content{
    display: flex;
    justify-content: flex-start;
    color: white;
    align-items: center;
}

.footerlogo{
    display: flex;
    align-self: flex-start;
    width: 12%;
}

.footertext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15%;
}

.footertext h4{
    font-size: 25px;
    margin-bottom: 10px;
}

.footertextcontent{
    display: flex;
    align-items: center;
    margin-bottom: 8%;
}

.footertextcontent:hover{
    color: black;
}

.footertextcontent img{
    width: 15%;
    margin-right: 10px;
}

.footertext p{
    align-self: flex-start;
    margin: 0;
}

.footertext2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: -9px;
}

.footertext2 h4{
    font-size: 25px;
    margin-bottom: 10px;
}

.sociallogo{
    margin-top: -60px;
    display: flex;
    align-items: center;
}

.sociallogo img{
    width: 2%;
    background-color: rgb(179, 136, 228);
    border-color: #fff;
    border-radius: 50%;
    margin-left: 1.45%;
    outline: 5px solid rgb(179, 136, 228);
    transition: transform 0.3s ease;
}

.sociallogo img:hover{
    transform: scale(1.2);
}

@media(max-width: 1288px){
    .nav-type{
        margin-right: 0px;
    }

    .nav-type ul li{
        padding: 0 20px;
    }

    .nav-type ul li a{
        font-size: 22px;
    }

    .leftcontainer h2{
        font-size: 140%;
    }

    .rightcontainer h2{
        font-size: 140%;
    }

    .leftcontainer-commitment h2{
        font-size: 140%;
    }

    .leftcontainer p{
        font-size: 70%;
    }

    .rightcontainer p{
        font-size: 70%;
    }

    .leftcontainer-commitment p{
      font-size: 70%;
    }
}

@media(max-width: 922px){
    .nav-type{
        margin-right: 0px;
    }

    .nav-type ul li{
        padding: 0 10px;
    }

    nav img{
        width:110px;
        height: 75px;
        cursor: pointer;
    }

    .leftcontainer h2{
        font-size: 110%;
    }

    .rightcontainer h2{
        font-size: 110%;
    }

    .leftcontainer-commitment h2{
        font-size: 110%;
    }

    .leftcontainer p{
        font-size: 60%;
    }
    .rightcontainer p{
        font-size: 60%;
    }

    .leftcontainer-commitment p{
      font-size: 60%;
    }
}

@media(max-width: 768px){
    nav{
        position: static;
    }

    nav img{
        width:80px;
        height: 55px;
        cursor: pointer;
    }

    .menu{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav-type{
        position: absolute;
        background:rgba(167, 162, 220, 0.8);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        margin-right: 0;
        transition: 0.8s;
    }

    .nav-type ul li{
        display: block;
        padding: 0px 40px;
    }

    .nav-type ul li a{
        font-size: 20px;
    }

    .nav-type img{
        display: block;
        width: 25px;
        height: 25px;
        margin: 7px;
        cursor: pointer;
    }

    .leftimage{
        flex-direction: column;
    }

    .rightimage{
        flex-direction: column;
    }

    .leftimage-commitment {
        flex-direction: column;
    }
  
    .leftimage img{
        width: 80%;
        margin: 0 0 2%;
    }


    .leftimage-commitment img {
        width: 80%;
        margin: 0 0 2%;
    }

    .rightimage img{
        order: -1;
        width: 80%;
        margin: 0 0 2%;
    }

    .leftcontainer{
        margin: 30px;
        text-align: center;
    }

    .rightcontainer{
        margin: 30px;
        text-align: center;
    }

    .leftcontainer-commitment {
        margin: 30px;
        text-align: center;

    }

    .leftcontainer h2{
        font-size: 180%;
    }

    .rightcontainer h2{
        font-size: 180%;
    }

    .leftcontainer-commitment h2{
        font-size: 180%;
    }

    .leftcontainer p{
        font-size: 100%;
    }

    .rightcontainer p{
        font-size: 100%;
    }

    .leftcontainer-commitment p{
        font-size: 100%;
    }
    
    .footer-content{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
    }
    
    .footerlogo{
        width: 40%;
        align-self: flex-start;
        margin-bottom: 15px;
    }
    
    .footertext{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .footertext2{
        margin-left: 0;
    }
    
    .footertextcontent img{
        width: 9%;
    }

    .sociallogo{
        margin-top: 10px;
        margin-left: 10%;
    }
    
    .sociallogo img{
        width: 4%;
        margin-left: 7px;
        margin-right: 10px;
    }
}